*{
    box-sizing:border-box;
}

body {
    background-color:whitesmoke;
}

.aboutImage {
    width:40%;
    height:auto;
    float:left;
    margin-right:10px;
}

.aboutImage img{
    width:100%;
    height:auto;
}

.about h1{
    font-family:georgia;
    text-align:center;
}

.about h4{
    font-size:15px;
    font-family:arial;
    line-height: 30px;
}

a p{
    margin:0px;
    padding:20px 0px;
    text-align:center;
}

.button{
    text-align:center;
}

button{
    border-radius:5px;
    width:200px;
    height:50px;
}

a p{
    padding:0px;
    text-align:center;
    font-size: 15px;
    text-decoration:none;
}

@media (max-width: 756px) {
    .aboutImage {
        width:100%;
        height:auto;
        clear:both;
    }
}