.container {
    width:100%;
    border:3px solid black;
    padding-top: 60%;
    position:relative;
    transform: rotate(720deg);
    transition: 3s;
}

.content{
    position: absolute;
    text-align:center;
    clear:both;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}