*{
    box-sizing: border-box;
}

blockquote{
    text-align:center;
    font-style: italic;
    font-size:20px;
}

header{
    background-color:white;
}

body {
    background-color:whitesmoke;
}

.image {
    width:40%;
    height:auto;
    float:left;
    margin-right:10px;
}

.image img{
    width:100%;
    height:auto;
}

.description h1{
    font-family:georgia;
    text-align:center;
}

.description h4{
    font-size:15px;
    font-family:arial;
    line-height: 30px;
}

a p{
    margin:0px;
    padding:20px 0px;
    text-align:center;
}

.icon1, .icon2{
    float:right;
    margin:5px 15px;
}

a{
    text-decoration: none;
    color: #7a6674;
}

.nav{
    margin:20px;
    text-align:center;
}

nav a{
    font-size:25px;
    font-family:georgia;
    margin:0 20px;
    text-decoration: none;
}

.logo h1 {
    text-align:center;
}

.logoimg {
    display:flex;
    justify-content:center;
}

.logo {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.logoimg img {
    width:300px;
    height:200px;
    margin:0px 0px 20px 0px;
}

header {
    border: 10px solid #7a6674;
}

@media (max-width: 756px) {
    .cutOptions{
        display:flex;
        flex-direction:column;
        align-items: center;
    }

    .logoimg {
        display:flex;
        justify-content:center;
    }

    .logoimg img{
        width:200px;
        height:134px;
        margin:0px 0px 20px 0px;
    }
    
    .logo {
        display:flex;
        flex-direction:column;
        justify-content:center;
    }

    .icon1, .icon2{
        clear:both;
        margin:5px 15px;
    }
}